@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-family-sans: "Libre Franklin", "Noto Sans TC", "sans-serif";

  --color-primary: #4a90e2;
  --color-sky-500: #4a90e2;

  --color-secondary: #cbd5e1;
}

:root {
  --ui-radius: var(--radius-xl);
}

/* // - color mode */
body {
  background-color: #fff;
  color: rgba(0, 0, 0);
}
.light-mode body {
  background-color: #f8fafc;
  color: rgba(0, 0, 0);
}
